[submodule "MagicSquares"]
	path = MagicSquares
	url = https://github.com/ProjectLiminality/MagicSquares.git
[submodule "Aether"]
	path = Aether
	url = https://github.com/ProjectLiminality/Aether.git
